<main>
    <div class="row my-4">
        <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8">
            <h1 class="page-title">
                <span class="lang lang-en">Forgot Password</span>
                <span class="lang lang-id">Lupa Kata Sandi</span>
            </h1>
            <form id="form-forgot-password" class="p-3">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        <span class="lang lang-en">Email Address</span>
                        <span class="lang lang-id">Alamat Surel</span>
                    </label>
                    <div class="col-sm-8">
                        <input data-name="email" type="email" data-required="true" />
                    </div>
                </div>

                <div class="recaptcha-container">
                    <div id="recaptcha"></div>
                </div>

                <div class="align-center m-3">
                    <button id="button-request-account-recovery-email" type="button" class="btn btn-main btn-lg">
                        <span class="lang lang-en">
                            Submit
                        </span>
                        <span class="lang lang-id">
                            Kirim
                        </span>
                    </button>
                </div>
            </form>            
        </div>
    </div>


</main>