<main data-without-controller="true">
    <div id="poster" class="d-none d-sm-block">
        <div class="row px-3">
            <div class="offset-sm-1 col-lg-4 col-md-5 col-sm-6 col-xs-7 pt-5 px-5">
                <img src="/resource/image/poster-textbox.png" class="full-width"  />
            </div>
        </div>
    </div>  
    <div id="poster-mobile" class="d-block d-sm-none">
        <div class="row px-3">
            <div class="offset-sm-1 col-lg-4 col-md-5 col-sm-6 col-xs-7 pt-5 px-5">
                <img src="/resource/image/poster-textbox.png" style="max-height: 5rem"/>
            </div>
        </div>
    </div>  
    <div class="row mt-5 mb-5">
        <div class="offset-lg-1 col-lg-5 align-center px-5">
            <em>
                <strong>PAWAI</strong> 
                <span class="lang lang-en">is a furry party event based on 
                    Jakarta, Indonesia where all fans of  anthromorpic 
                    characters are able to meet! Make new friends and in your 
                    weekend!
                </span>
                <span class="lang lang-id">adalah acara pesta furry yang 
                    berbasis di Jakarta di mana semua penggemar karakter 
                    antropomorfik dapat bertemu! Mari berkenalan dengan teman 
                    baru di akhir pekan Anda!
                </span>
            </em>
        </div>
        <div class="col-lg-5 align-center px-5">
            <em>
                <strong>
                    <span class="lang lang-en">
                        This year we’ll take you to the URBAN JUNGLE!
                    </span>
                    <span class="lang lang-id">
                        Tahun ini kami akan membawa Anda ke RIMBA KOTA!
                    </span>
                </strong>
                <span class="lang lang-en">
                    Taking ideas from Streetwear, Hip-hop Music, and Grafitti, 
                    we hope it can inspire you to express your creativity here.
                </span>
                <span class="lang lang-id">
                    Mengambil gagasan dari Streetwear, Hip-Hop Music, dan 
                    Graffiti, kami harap hal-hal tersebut dapat menginspirasi 
                    Anda untuk mengungkapkan kreativitas Anda di sini.
                </span>
            </em>
        </div>
    </div>

    <div class="row">
        <div id="venue-photo" class="col-md-6 align-center"></div>
        <div id="venue-information" class="col-md-6 align-center py-5">
            <img src="/resource/image/venue-logo.png" class="mb-3" style="width:25rem" />
            <div class="color-black">
                <h2 class="font-family-bebas font-size-300">YELLO Manggarai Jakarta</h2>
                <p class="my-0"> <strong>Jl. Minangkabau No. 9, RT 6/RW 8, Ps. Manggis,</strong></p>
                <p class="my-0"> <strong>Kecamatan Setiabuadi, Kota Jakarta Selatan</strong></p>
                <p class="my-0"> <strong>Daerah Khusus Ibukota Jakarta, 12970</strong></p>
            </div>

            <p class="mt-4">
                <a href="https://www.yellohotels.com/en-US/jakarta-manggarai" 
                   class="font-size-200 text-box text-box-green text-box-bordered">
                    Go to Website <img src="/resource/image/arrow-right-white-green.png" style="height:2rem"/></i>
                </a>
            </p>
        </div>
    </div>

    <div class="d-none d-md-block">
        <img src="/resource/image/goh-desktop.jpg" class="full-width" />
    </div>

    <div class="d-md-none d-block">
        <img src="/resource/image/goh-mobile.jpg" class="full-width" />
    </div>  

    <div class="row mt-5 mb-5">
        <div class="offset-lg-1 col-lg-5 align-center px-5">
            <em>
                <strong>KOKU</strong> 
                <span class="lang lang-en">is an artist from Bandung, he draws 
                    a lot of big burly creatures. Don't miss his panel later 
                    in the Urban Jungle.
                </span>
                <span class="lang lang-id">adalah seorang seniman dari Bandung, 
                    yang menggambar makhluk kekar besar. Jangan melupakan 
                    panelnya nanti di Hutan Urban.
                </span>
            </em>
        </div>
        <div class="col-lg-5 align-center px-5">
            <strong>
                MINT
            </strong>
            <span class="lang lang-en">is an artist from Bandung, 
                he draws a lot of small adorable creatures. 
                Don't miss his panel later in the Urban Jungle.
            </span>
            <span class="lang lang-id">
                adalah seorang seniman dari Bandung, yang menggambar 
                makhluk kecil menggemaskan. Jangan melupakan 
                panelnya nanti di Urban Jungle.
            </span>
        </div>
    </div>

    <div class="d-none d-md-block">
        <img src="/resource/image/afterhours-desktop.jpg" class="full-width" />
    </div>

    <div class="d-md-none d-block">
        <img src="/resource/image/afterhours-mobile.jpg" class="full-width" />
    </div>  


</main>