<main>
    <div id="venue-header" class="row">
        <div class="col-sm-12 col-md-8 p-0">
            <img src="/resource/image/venue-photo-with-logo.jpg" class="full-width"/>
        </div>
        <div class="col-md-4 d-none d-md-block p-0">
            <img src="/resource/image/venue-photo-elevator.jpg" class="full-width"/>
        </div>
    </div>
    <div id="venue-map">
        <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0;width:100%"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDMM6eZJLlSePDW93G7CJcAIALpVnTRoSY
            &q=Yello Mangarai" allowfullscreen>
        </iframe>
    </div>

    <div class="align-center font-family-bebas py-3">
        <p class="font-size-300">YELLO Manggarai Jakarta</p>
        <p class="my-0"> <strong>Jl. Minangkabau No. 9, RT 6/RW 8, Ps. Manggis,</strong></p>
        <p class="my-0"> <strong>Kecamatan Setiabuadi, Kota Jakarta Selatan</strong></p>
        <p class="my-0"> <strong>Daerah Khusus Ibukota Jakarta, 12970</strong></p>
    </div>
    <div class="row">
        <div id="hotel-room-photo" class="col-md-6 align-center"></div>
        <div id="hotel-room-information" class="col-md-6 align-center py-3">
            <p class="font-size-300 font-family-bebas py-0 my-0">
                Special Room Rate
            </p>
            <p class="font-size-300 font-family-bebas py-0 my-0">
                For PAWAI Attendees
            </p>
            <p class="px-5">The venue has graciously offered PAWAI attendees a special room rate. 
                Price listed bellow includes breakfast for two people. 
                Make yourself at home in Yello Hotel Manggarai
            </p>
            <p class="font-family-bebas">
                <span class="font-size-300">IDR</span><span class="font-size-400"> 485 </span> <span class="font-size-300">000</span> <span class="font-size-200"> / Night</span>
            </p>
            <button id="button-reserve-room" type="button" class="font-size-200 text-box text-box-green text-box-bordered">
                Reserve Your Room
            </button>
        </div>
    </div>
    <div class="align-center font-family-bebas py-3">
        <p class="color-yellow font-size-400 mb-0">
            <span class="lang lang-en">From Airport to Venue</span>
            <span class="lang lang-id">Dari Bandara ke Tempat Acara</span>
        </p>
        <p class="font-size-150 text-box text-box-red centered-element coming-soon">
            Coming Soon!
        </p>
    </div>
    <div class="row my-3">
        <div class="col-md-6 align-center">
            <p class="my-0"> 
                <strong class="lang lang-en">10 Minutes walk from </strong>
                <strong class="lang lang-id">10 menit jalan kaki dari</strong>
            </p>
            <p class="font-family-bebas font-size-200 my-0">
                <span class="lang lang-en">Manggarai Train Station</span>
                <span class="lang lang-id">Stasiun Kereta Manggarai</span>
            </p>
        </div>
        <div class="col-md-6 align-center">
            <p class="my-0"> 
                <strong class="lang lang-en">5 Minutes walk from </strong>
                <strong class="lang lang-id">5 menit jalan kaki dari</strong>
            </p>
            <p class="font-family-bebas font-size-200 my-0">
                <span class="lang lang-en">Manggarai Transjakarta Bus Stop</span>
                <span class="lang lang-id">Halte Transjakarta Manggarai</span>
            </p>
        </div>
    </div>
</main>