<main data-without-controller="true">  

        <div class="row pt-5">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="page-title">    
                    <span class="lang lang-en">Code of Conduct</span>
                    <span class="lang lang-id">Peraturan Perilaku</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>
                    The rules described here are designed to maintain the safety and comfort of all the attendees. 
                    We have tried to compose rules that are easy to follow and not too restrictive. 
                    We value your cooperation in following this code to have a great time together
                </p>
                <p>
                    Upon entry, all PAWAI attendees are assumed to have read and understood this code of conduct. 
                    By receiving an attendee badge you agree to hold PAWAI free from any claims of personal injuries or damages caused by individual activities during PAWAI.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>
                    Aturan yang diuraikan di sini dirancang untuk menjaga keamanan dan kenyamanan semua peserta. 
                    Kami telah mencoba menyusun peraturan yang mudah diikuti dan tidak terlalu membatasi. 
                    Kami sangat menghargai kerja sama para peserta untuk menggelar acara yang menyenangkan bersama.
                </p>
                <p>
                    Pada saat masuk lingkungan acara, semua peserta PAWAI diasumsikan telah membaca dan memahami Peraturan Perilaku ini. 
                    Dengan menerima lencana peserta, Anda setuju untuk membebaskan PAWAI dari tuntutan cedera atau kerusakan barang pribadi yang disebabkan oleh kegiatan perseorangan selama PAWAI.
                </p>
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-law-document"></i>
                    <span class="lang lang-en">Registration and Authentication</span>
                    <span class="lang lang-id">Pendaftaran dan Autentikasi</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>
                    In order to authenticate attendees we will need to see your legal ID and match it with the information you provided to us. 
                    Make sure that the information in the Edit Data section ( https://pawai.id/#/edit-data ) is exactly matching your legal ID. 
                    We will of course allow for slight discrepancy, such as abbreviation of middle name and/or surname.
                </p>
                <p>
                    While PAWAI is a 14+ event, attendees who are under 17 years old, are required to bring a signed consent form ( available for download from:  <a href="/resource/document/consent-form.pdf" target="_blank" class="btn btn-dark">Here</a> ). 
                    Additionally you are also required to bring an identifying document (such as Student Card, or a photocopy of your Family Card) that states your birth date and legal name.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>
                    Untuk mengautentikasi peserta, kami perlu melihat dokumen identitas Anda dan mencocokkannya dengan informasi yang Anda berikan kepada kami. 
                    Pastikan bahwa informasi di bagian Ubah Data ( https://pawai.id/#/edit-data ) sama persis dengan Dokumen Identitas anda. 
                    Kami tentu saja membolehkan sedikit perbedaan, seperti penyingkatan dari nama tengah dan/atau nama keluarga.
    
                </p>
                <p>
                    Walaupun PAWAI adalah acara 14+, peserta yang berusia di bawah 17 tahun, diharuskan membawa formulir persetujuan yang ditandatangani oleh orang tua dan/atau wali yang sah (tersedia untuk diunduh dari:  <a href="/resource/document/consent-form.pdf" target="_blank" class="btn btn-dark">Sini</a> ). 
                    Selain itu Anda juga diharuskan membawa dokumen pengenal (seperti Kartu Pelajar, atau fotokopi Kartu Keluarga Anda) yang mencantumkan tanggal lahir dan nama resmi Anda.
                </p>
    
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-ban"></i>
                    <span class="lang lang-en">Prohibited Items</span>
                    <span class="lang lang-id">Benda Terlarang</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>The following items are prohibited from the convention space:</p>
                <ul>
                    <li><em>Cigarettes</em> (including electronic cigarettes and vaporizer) and <em>alcoholic beverages</em>.</li>
                    <li><em>Firearms</em> and non-firearms projectile throwing weapon such as water gun or paintball gun.</li>
                    <li><em>Controlled Substance</em>, we will report any finding of controlled substance to the authority.</li>
                </ul>
                <p>
                    Dealers may bring box cutters and scissors for use in the Dealers Den only. 
                    Additionaly, fursuiters may bring repair kits that includes scissors and needles.
                </p>
                <p>
                    Weapon-like role playing props that are not sharp and not made of metal are allowed. 
                    However, we need to mark it as your own with a labeled zip-tie. 
                    Please present your weapon-like props during verification
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>Barang-barang berikut tidak diperkenankan untuk dibawa masuk ke dalam lingkungan acara:</p>
                <ul>
                    <li><em>Rokok</em> (termasuk rokok elektronik dan vaporizer) serta <em>minuman beralkohol</em>.</li>
                    <li><em>Senjata api</em> dan senjata pelontar non-api seperti pistol air atau senapan paintball.</li>
                    <li><em>Senjata tajam</em>.</li>
                    <li><em>Obat-obatan terlarang</em>, kami akan melaporkan semua obat-obatan terlarang ke pihak berwajib.</li>
                </ul>
                <p>
                    Pengedar karya seni diperbolehkan membawa cutter dan gunting untuk digunakan di Sarang Pengedar saja. 
                    Fursuiter diperbolehkan untuk membawa perlengkapan perbaikan yang mencakup gunting dan jarum.
                </p>
                <p>
                    Alat peraga permainan dan akting mirip senjata yang tidak tajam dan tidak terbuat dari logam diperbolehkan. 
                    Namun, kami perlu mendandainya sebagai milik Anda dengan zip-tie berlabel. 
                    Mohon tunjukkan alat peraga yang Anda bawa pada saat verifikasi.
                </p>
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-bag"></i>
                    <span class="lang lang-en">Bag Check</span>
                    <span class="lang lang-id">Pemeriksaan Tas</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>
                    For your safety we will perform bag-check to all participants entering the convention space.
                    If a prohibited item is found, we will hold onto it while attendee is within the convention space.
                </p>
                <p>
                    Any controlled substance found will be reporte  d to authorities. 
                    Bringing a controlled substance results in banning from future events that we organize.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>
                    Demi keselamatan bersama, kami akan melakukan pemeriksaan tas pada semua peserta yang memasuki lingkungan acara.
                    Jika ada barang terlarang yang ditemukan, kami akan menyimpannya selama peserta mengikuti acara.
                </p>
                <p>
                    Setiap obat-obatan terlarang yang ditemukan akan dilaporkan ke pihak berwenang. 
                    Peserta yang membawa obat-obatan terlarang akan dicekal dari acara yang kami susun di kemudian hari.
                </p>
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-id-card"></i>
                    <span class="lang lang-en">Your Badge</span>
                    <span class="lang lang-id">Lencana Anda</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>
                    Only those with a badge are allowed to enter the convention space. 
                    During the entirety of the event, please make sure that your badge is clearly visible to the public eyes.
                    If you find a lost badge, please return it to the receptionist immediately (unless you know the attendee who lost the badge). 
                    Likewise, if you lost your badge, you can ask the receptionist if anyone have returned yours.
                </p>
                <p>
                    Anyone found using a counterfeit or copied badge will be asked to leave. 
                    Additionally, altering a badge such that it permanently obscures or changes attendee number and/or name will render the badge unusable. 
                    You are allowed to paste your own picture onto the badge as long as it doesn’t obscure your name and/or number.
                </p>
                <p>
                    Badges must be shown upon request to any PAWAI Staff, Venue Staff, or Law Enforcement.
                    In a serious infraction where staffs are forced to ask an attendee to leave the convention space, the badge has to be returned to the staffs.
                </p>
                <p>
                    Wearing badges from previous PAWAI events are forbidden during the event. However badges from other events (as long as it doesn't display inappropriate content) may be worn along with your PAWAI badge.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>
                    Hanya mereka yang memiliki lencana yang diizinkan memasuki lingkungan acara. 
                    Selama keseluruhan acara, pastikan lencana Anda terlihat jelas di depan umum.
                    Bila Anda menemukan lencana yang hilang, mohon langsung dikembalikan ke resepsionis (kecuali Anda mengenali secara pribadi peserta yang kehilangan lencana). 
                    Sebaliknya, bila Anda kehilangan lencana,  Anda dapat menanyakan resepsionis, apakah ada yang mengembalikan lencana Anda.
                </p>
                <p>
                    Siapapun yang ditemukan menggunakan lencana palsu atau duplikat akan diminta untuk meninggalkan lingkungan acara. 
                    Selain itu, mengubah lencana sehingga secara kekal mengaburkan atau mengubah nomor peserta dan/atau nama, akan membuat lencana tidak dapat digunakan. 
                    Anda diperbolehkan untuk menempelkan gambar Anda sendiri pada lencana, selama itu tidak menutupi nama dan nomor peserta.
                </p>
                <p>
                    Lencana harus ditunjukkan atas permintaan kepada Staf PAWAI, Staf Venue, atau Penegak Hukum.
                    Dalam pelanggaran berat dimana staff terpaksa untuk meminta peserta meninggalkan lingkungan acara, lencana peserta yang melanggar harus dikembalikan ke staf.
                </p>
                <p>
                    Lencana dari acara PAWAI sebelumnya dilarang untuk dikenakan selama acara. Namun lencana dari acara lain (asalkan tidak menampilkan hal-hal yang tidak pantas) dapat dikenakan bersama dengan lencana PAWAI Anda.
                </p>
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-wallet"></i>
                    <span class="lang lang-en">Your Personal Belonging</span>
                    <span class="lang lang-id">Barang Bawaan Anda</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>Please keep your belongings from being lost or damaged.</p>
                <p>
                    If you think an item has lost its owner, please bring the item to the receptionist. 
                    On the other hand, if you think you may have lost something, you can visit the receptionist and ask if they have your item.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>Mohon jaga barang bawaan anda agar tidak hilang atau rusak.</p>
                <p>Jika Anda menemukan sebuah barang tanpa pemiliknya, mohon bawa barang tersebut ke resepsionis. 
                    Sebaliknya, jika Anda merasa kehilangan sesuatu, Anda dapat mengunjungi resepsionis dan menanyakan apakah mereka memiliki barang Anda.
                </p>
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-group"></i>
                    <span class="lang lang-en">Safe and Comfortable Environment</span>
                    <span class="lang lang-id">Lingkungan yang Nyaman dan Aman</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>
                    While having fun at PAWAI, you are not only here to have fun together but also a representative of the furry fandom. 
                    Keep in mind that this is a family friendly event, and in order to convey a positive image of the community, we ask that you follow the code of conduct and avoid infractions.
                </p>
                <p>
                    Attendees are responsible for any damages caused by their activity. 
                    Anyone engaging in life and property endangering behaviours will have their membership revoked immediately and asked to leave. If the situation warrants it, law enforcement may be called.
                </p>
                <p>
                    Please respect fellow attendees. 
                    If someone is making you uncomfortable you can tell the nearest staff member about it.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>
                    Sambil bersenang-senang di PAWAI, Anda berada di sini tidak hanya untuk bersenang-senang bersama tapi juga sebagai perwakilan furry fandom. 
                    Mohon di ingat bahwa ini adalah acara ramah keluarga, sehingga untuk menjaga citra positif fandom di mata masyarakat, kami meminta agar Anda mengikuti peraturan perilaku dan menghindari pelanggaran.
                </p>
                <p>
                    Peserta bertanggung jawab atas kerusakan yang diakibatkan oleh kegiatan mereka. 
                    Siapa pun yang terlibat dalam perilaku membahayakan kehidupan dan properti, keanggotaannya akan segera ditarik dan diminta untuk meninggalkan lingkungan acara. Jika situasi memerlukannya, penegak hukum dapat dipanggil.
                </p>
                <p>
                    Mohon hormati sesama peserta. 
                    Jika seseorang membuat Anda merasa tidak nyaman, Anda dapat memberitahu anggota staf terdekat.
                </p>
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-paw"></i>
                    <span class="lang lang-en">Fursuits and Costumes</span>
                    <span class="lang lang-id">Fursuits dan Kostum</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>
                    An enclosed space is provided for the performers convenience. 
                    To minimize misplaced items we highly recommend to use the space to suit and desuit. 
                    This place will always be monitored to ensure your safety
                </p>
                <p>
                    Please refrain from wearing accessories or clothes that are inappropriate. 
                    Wearing accessories bearing a prohibited symbol or generally offensive symbol is not allowed.
                </p>
                <p>
                    While in fursuit, fursuiter will have hearing and sight impairment, don't jump on them from behind give a fursuiter a room and make way.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>
                    Sebuah ruang tertutup disediakan untuk kenyamanan para fursuiter. 
                    Untuk menghindari kesalahan penempatan barang kami sangat menyarankan fursuiters untuk menggunakan ruang ini ketika mengenakan dan menanggalkan fursuit. 
                    Tempat ini akan selalu dipantau untuk memastikan keamanan Anda
                </p>
                <p>
                    Hindari pemakaian aksesoris atau pakaian yang tidak senonoh. 
                    Mengenakan aksesori yang mengandung simbol terlarang atau menyinggung tidak diperbolehkan.
                </p>
                <p>
                    Ketika mereka mengenakan fursuit, fursuiter akan mengalami gangguan pendengaran dan penglihatan, hati-hati dalam mendekati mereka dan berilah fursuiter ruangan.
                </p>
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-camera"></i>
                    <span class="lang lang-en">Photo</span>
                    <span class="lang lang-id">Foto</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>Photographers must always ask permission before taking photos.</p>
                <p>
                    Due to the nature of public space, your face may inadvertently appear in the background of someone's photo. 
                    Additionally, we may also use any photography that our documentation staff taken for the purpose of publication.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>Fotografer harus selalu meminta izin sebelum mengambil foto.</p>
                <p>
                    Karena lingkungan acara yang bersifat umum, wajah Anda mungkin secara tidak sengaja akan muncul di latar belakang foto seseorang. 
                    Selain itu, kami juga mungkin menggunakan fotografi yang diambil oleh staf dokumentasi kami untuk tujuan publikasi
                </p>
            </div>
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-sad"></i>
                    <span class="lang lang-en">Violation</span>
                    <span class="lang lang-id">Pelanggaran</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>Violations of the Code of Conduct comes with a penalties that include but are not limited to verbal warnings, written warnings, being asked to leave, and future prohibitions.</p>
                <p>PAWAI Staff Members will always try to be lenient and understanding when handling infractions. 
                    If you feel you're being treated unfairly by a staff member, you may take the matter to the operational director.
                </p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>Pelanggaran Peraturan Perilaku berakibat sangsi yang mencakup namun tidak terbatas pada peringatan lisan, peringatan tertulis, permintaan untuk meninggalkan lingkungan acara, dan pencekalan di masa depan</p>
                <p>
                    Anggota Staf PAWAI akan selalu berusaha bersikap lembut dan penuh pengertian saat menangani pelanggaran. 
                    Jika Anda merasa diperlakukan tidak adil oleh anggota staf, Anda dapat membawa masalah ini ke direktur operasional.
                </p>
            </div>
    
        </div>
    
        <div class="row pt-3">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10">
                <p class="section-title">
                    <i class="icofont-ruler"></i>
                    <span class="lang lang-en">Bottom Line</span>
                    <span class="lang lang-id">Garis Bawah</span>
                </p>
            </div>
        </div>
    
        <div class="row pt-3 px-2">
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-en">
                <p>If you have any questions or concerns regarding this code of conduct, don't hesitate to contact us, preferably far before the event, by emailing <em>pawai.team@gmail.com</em>.</p>
                <p>We reserve the right to change these rule at any time without prior notice at our discretion. Unless stated otherwise,  the most updated version of this rule will always be the one in the <a href="https://pawai.id/index.html#/rules" class="w-700">https://pawai.id/index.html#/rules</a></p>
            </div>
            <div class="offset-lg-3 col-lg-6 offset-md-2 col-md-8 offset-sm-1 col-sm-10 lang lang-id">
                <p>Jika Anda memiliki pertanyaan atau masalah terkait peraturan perilaku ini, jangan ragu untuk menghubungi kami -sebaiknya jauh sebelum acara- dengan mengirim email ke <em class="w-700">pawai.team@gmail.com</em>.</p>
                <p>Kami berhak mengubah peraturan ini kapan saja tanpa pemberitahuan sebelumnya. Kecuali dinyatakan sebaliknya, versi yang ada di laman <a href="https://pawai.id/index.html#/rules" class="w-700">https://pawai.id/index.html#/rules</a> akan selalu menjadi versi terbaru peraturan ini .</p>        </div>
        </div>
    
    </main>